Pata_WPF_Commerce/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Database.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Database.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stock" nillable="true" type="tns:Stock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStock" nillable="true" type="tns:ArrayOfStock" />
  <xs:complexType name="Stock">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Categorie" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrixAchat" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrixVente" type="xs:decimal" />
          <xs:element minOccurs="0" name="QuantiteActuelle" type="xs:int" />
          <xs:element minOccurs="0" name="QuantiteMin" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
  <xs:complexType name="Base">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Base" nillable="true" type="tns:Base" />
</xs:schema>